.payments {
  margin: 0 auto;
  max-width: 260px;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.payments__text {
  margin: 0;
  padding:0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color:white;
  text-align: center;
}

.payments__link {
  margin: 0;
  padding:0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color:#ff8562;
}

.payments__margin {
  margin-top:25px;
}

.payments__marginmin {
  margin-top:10px;
}

.payments__colortext {
  color:#ff8562; 
}

.payments__button {
  all: unset;
  margin: 0;
  margin-top:30px;
  padding: 0;
  width:100%;
  max-width: 480px;
  height: 60px;
  color:white; 
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(0.197turn, rgba(148, 0, 226, 1) 0%, rgba(232, 105, 255, 1) 100%);
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, font-size 0.3 ease;
}

.payments__button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0.197turn, rgba(232, 105, 255, 1) 0%, rgba(148, 0, 226, 1) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.payments__button:hover::before {
  opacity: 1;
}

.payments__button > * {
  position: relative;
  z-index: 1;
}

.payments__button span {
  position:relative;
  z-index:2;
  transition: transform 0.3s ease;
  display: inline-block;
}

.payments__button:hover span {
  transform:scale(1.1);
}

.payments__button.success {
  background-image: linear-gradient(0.197turn, rgba(34, 177, 76, 1) 0%, rgba(154, 252, 205, 1) 100%);
}